{% extends "base.html" %}
{% block styles %}
  <link rel="stylesheet" href="/static/css/form.css">
{% endblock styles %}
{% block content %}
  <div class="div-form">
    <div class="form-header">
      <h1>Создайте персонажа:</h1>
    </div>
    <form>
      <label for="name">Имя:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="description">Краткое описание:</label>
      <textarea class="description" id="description" name="description" required></textarea>
      <br>
      <label for="greetings">Приветствие:</label>
      <textarea class="greetings" id="greetings" name="greetings"></textarea>
      <br>
      <label for="image">Аватар:</label>
      <input type="file" id="image" name="image" filename="image" required>
      <br>
      <label for="prompt">Prompt:</label>
      <textarea class="prompt" id="prompt" name="prompt" required></textarea>
      <br>
      <span>*Заполните все поля!</span>
      <br>
      <input id="submit-btn" type="submit" value="Create">
    </form>
  </div>
{% endblock content %}
{% block scripts_bottom %}
  <script src="/static/js/create-character.js"></script>
{% endblock scripts_bottom %}
